/target
/gen/*
!/gen/apple/
/gen/apple/build/
/gen/apple/Externals/
/gen/apple/Pods/
/gen/apple/*.xcworkspace/
/gen/apple/alook-desktop.xcodeproj/
/gen/apple/exported_binaries/
!/gen/android/
/gen/android/.gradle/
/gen/android/.tauri/
/gen/android/build/
/gen/android/buildSrc/
/gen/android/gradle/
/gen/android/gradlew
/gen/android/gradlew.bat
/gen/android/settings.gradle
/gen/android/tauri.settings.gradle
/gen/android/app/build/
/gen/android/app/tauri.build.gradle.kts
/gen/android/app/tauri.properties
/gen/android/app/src/main/jniLibs/
/gen/android/app/src/main/java/ai/alook/desktop/generated/
